body{
    background-color: whitesmoke;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
    gap: 10px;
}

.name{
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    text-align: center;
}

.name:hover{
    border-bottom: 2px solid black;
}
.msgText{
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: white;
}

.msgText:hover{
    border-bottom: 2px solid black;
    outline: none;
}

.btnSend{
    width: 4%;
    background-color: rgb(5, 5, 5);
    border: 0;
    padding: 4px;
    color: whitesmoke;
    border-radius: 2.5px;
    cursor: pointer;
}

.btnSend:hover{
    background-color: rgb(196, 4, 157);
    transition: 0.35s;
}

.conteudo{
    display: flex;
}

.msg{
    display: flex;
    align-items: end;
    gap: 0.25em;
}

.divName{
    font-weight: bold;
    font-size: 1em;
}

.divTime{
    font-size: 0.65em;
    padding-left: 0.2em;
    color: lightslategray;
}

.btnDelete{
    border: 0;
    background-color: transparent;
    color: gainsboro;
    font-size: 0.7em;
}

.btnDelete:hover{
    background-color: red;
    color: white;
    padding: 2px;
    cursor: pointer;
    border-radius: 2.5px;
    transition: 0.25s;
}

.content{
    background-color: rgba(41, 234, 234, 0.2);
    padding: 20px 80px 20px 80px;
    width: 60%;
}

.chatHeader{
    background-color: darkcyan;
    margin-top: 20px;
    padding: 10px 80px 10px 80px;
    width: 60%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.2em;
    color: whitesmoke;
    font-weight: bold;
}

.chatFooter{
    display: flex;
    background-color: darkcyan;
    width: 60%;
    gap: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 80px 10px 80px;
}