@import "../variables.scss";

.home-content {
    height: 100vh;
    background-color: $dark-background;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.teams-container {
        background-color: white;
        padding: 1rem;
        border-radius: $rounded;
        display: flex;
        gap: 2rem;

        &>.team {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            background-color: $team-background;
            padding: 1rem;
            border-radius: $rounded;
            color: white;
            text-decoration: none;

            &:hover {
                opacity: 0.8;
            }

            &>.name {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}