section{
    display: flex;
    justify-content: center;
}

.items{
    margin-top: 50px;
    display: flex;
    max-width: 50%;
}

.icon-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.icon-image{
    max-width: 100%;
    border-radius: 4px;
}

.name-text{
    margin-top: 2px;
    color: whitesmoke;
    background-color: #dd07a8;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.text-container{
    margin-left: 15px;
}

.big-text{
    max-width: 100%;
    font-size: 6vw;
    color: whitesmoke;
    background-color: #dd07a8;
    padding: 5px 5px;
    border-radius: 4px;
    font-weight: bold;
}

.sub-text{
    text-align: left;
    font-size: 2vw;
    color: rgb(150, 150, 150);
    font-weight: bold;
}