*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    font-size: 1.2em;
    padding: 10px;
}

.navbar-logo{
    text-decoration: none;
    color: black;
}

.navbar-items{
    display: flex;
    gap: 20px;
}

.navbar-items a{
    text-decoration: none;
    color: black;
}

.navbar-items a:hover{
    color: rgb(82, 82, 82);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crud-container{
    text-align: center;
    background-color: rgb(219, 219, 219);
    padding: 10px;
    border-radius: 5px;
    width: 20%;
}

.header-container{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

.inputs-list-container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    width: 50%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
}

.input-container:focus{
    outline: none;
    border-bottom: 1px solid rgb(0, 102, 255);
}

.button-container{
    margin-top: 210px;
    border: 0;
    background-color: rgb(0, 102, 255);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.button-container:hover{
    background-color: rgb(4, 92, 225);
}

.button-container:active{
        box-shadow: inset 0 0 1em black;
}