.main-nav{
    overflow: hidden;
    background-color: #2b2b2b;
    border-bottom: 2px solid #dd07a8;
}

.main-nav a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.main-nav a:hover{
    transition: 0.3s;
    background-color: #383838;
    color: black;
}

.main-nav a.main-option{
    background-color: #dd07a8;
    padding: 12px;

}