.main-nav{
    overflow: hidden;
    background-color: whitesmoke;
    border-bottom: 1px solid #dd07a8;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
}

.icons div{
    background-image: linear-gradient(90deg, #dd07a8, #dd07a8);
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size 0.6s ease;
    padding: 10px 12px;
}

.icons div:hover{
    background-size: 100% 100px;
}

.main-option{
    background-color: #dd07a8;
    padding: 12px;
    color: whitesmoke;
    text-decoration: none;
}

.main-option:hover{
    transition: 0.3s;
    color: black;
}