:root{
    --mainColor: rgb(1, 1, 65);
}

.border{
    background: linear-gradient(90deg, rgba(232,18,18,1) 8%, rgba(0,157,255,1) 50%, rgba(0,255,40,1) 86%);  
    padding-bottom: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
    color: white;
    padding: 15px;
}

.nav-text{
    font-size: 2.25vh;
}