.main-nav{
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
}

.icons div{
    background-image: linear-gradient(145deg, #d90368, #d90368);
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: top;
    transition: background-size 0.6s ease;
    padding: 10px 15px;
}

.icons div:hover{
    background-size: 100% 100px;
}

.main-option{
    background: -webkit-linear-gradient(180deg, #d90368, #d90368);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 12px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.main-option:hover{
    transition: 0.3s;
    color: rgb(194, 194, 194);
}