<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>HOMEPAGE</title>
</head>
<body>
    <nav class="navbar">
        <div>
            LOGO
        </div>
        <div class="navbar-items">
            <div>ABOUT US</div>
            <div>CONTACT</div>
            <div>GITHUB</div>
        </div>
    </nav>

    <content class="container">
        <div class="crud-container">
            <div class="header-container">
                BASIC CRUD
            </div>
            <div class="inputs-list-container">
                <input type="text" class="input-container"><input type="text" class="input-container"><input type="text" class="input-container">
            </div>
        </div>
    </content>
    
</body>
</html>