/* MAIN FOOTER */
.footer{
    display: flex;
    justify-content: right;
    width: 100%;
    position: fixed;
    bottom: 1vw;
}

.personal-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1vw;
    background-image: linear-gradient(45deg, #d90368, #6d9dc5);
    border-radius: 4px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #44344F #8bbeb2  ;
}

.personal-projects::-webkit-scrollbar {
    display: none;
}

.personal-projects-header{
    color: whitesmoke;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.personal-projects-list{
    display: none;
    max-height: 80vh;
    width: 100%;
}

.basic-info{
    display: flex;
    align-items: center;
    gap: 0.5vh;
    border-bottom: 2px solid whitesmoke;
}

.basic-info .avatar{
    max-height: 9.5vh;
    border-top-right-radius: 4px;
}

.basic-info .name{
    font-size: 2.5vh;
    color: whitesmoke;
}

.repositories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 4px;
}