/* MAIN FOOTER */
.footer{
    display: flex;
    justify-content: right;
    width: 100%;
    position: fixed;
    bottom: 25px;
}

.personal-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #dd07a8;
    border-radius: 4px;
    padding: 5px 5px;
    width: 15%;
}

.personal-projects-header{
    color: whitesmoke;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.personal-projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.basic-info{
    display: flex;
    align-items: center;
    gap: 0.5vh;
}

.basic-info .avatar{
    max-height: 50px;
}

.basic-info .name{
    font-size: 2vh;
    color: whitesmoke;
    font-weight: bold;
}

.repositories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5vh;
}