  {% load static %}
  {% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <content class="container">
      <div class="crud-container">
        <div class="header-container">CRUD</div>
        <div class="inputs-list-container">
          <input type="text" class="input-container" placeholder="Name" />
          <input type="text" class="input-container" placeholder="Age" />
          <input type="text" class="input-container" placeholder="Sex" />
        </div>
        <div class="buttons-area">
          <button class="button-container">Submit</button>
          <a href="list/" class="a-container">List</a>
        </div>
      </div>
    </content>
  </body>
</html>
